:root {
  font-family: 'IBM Plex Sans', sans-serif;
  --font-size-small: 1.1rem;
  --font-size-base: 1.5rem;
  --font-size-medium: 2rem;
  --font-size-biggish: 3.75rem;
  --font-size-big: 4.25rem;
  --s0: 1rem;
  --s1: 2rem;
  --s2: 4rem;
  --s3: 6rem;
}

* {
  box-sizing: border-box;
  font-weight: normal;
  color: #222;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* layout */
.stack {
  --space: 1.5rem;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

/* Brand styling */

footer {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--s0);
}

h3 {
  font-size: var(--font-size-medium);

}
h2 {
  font-size: var(--font-size-biggish);
}

h1 {
  font-size: var(--font-size-big);
}

p {
  font-size: var(--font-size-base);
}

pre {
  margin-top: var(--s0);
  width: 80%;
}

pre > code {
  font-size: var(--font-size-small);
}

.menu {
  min-height: 100vh;
  position: relative;
}

.menu-header {
  margin-top: var(--s1);
  font-size: var(--font-size-medium);
}

hr {
  border-top: 4px dotted #222;
  margin-top: var(--s0);
}

nav {
  border-bottom: 4px dotted #222;
  margin-bottom: var(--s1);

}

nav > ul {
  display: inline-flex;
  margin: var(--s0);
}

nav > ul >li {
  margin: var(--s0);
}

main {
  padding-left: var(--s2);
}

li {
  list-style: none;
  font-size: var(--font-size-base);
  margin-top: var(--s0);
}
main {
  padding-bottom: var(--s3);
}
.post-content {
  width: 80%;
}

.post-content-body > p {
  margin-top: var(--s0);
}

.post-content-body > h2 {
  margin-top: var(--s1);
  margin-bottom: var(--s0);
}

.post-card {
  padding-top: var(--s0);
  padding-bottom: var(--s0);
}

/* utilities */

.font-size\:base {
  font-size: var(--font-size-base) !important;
}

.font-size\:biggish {
  font-size: var(--font-size-biggish) !important;
}

.font-size\:big {
  font-size: var(--font-size-big) !important;
}


@media only screen and (max-width: 850px) {
  main {
    padding-left: var(--s0);
  }

  h3 {
    font-size: var(--font-size-small);

  }
  h2 {
    font-size: var(--font-size-medium);
  }

  h1 {
    font-size: var(--font-size-biggish);
  }

  p {
    font-size: var(--font-size-base);
  }

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }
}
