<div class="menu">
  <div>
    <Navigation />

    <main class="stack">
      <div class="intro-heading">

        <h1>Hello, I'm Kenneth</h1>
        <span>and I'm an Engineering Manager. From October 2021 I'll be joining Spotify as an Engineering Manager. On this page you can find some of my writings. If you want to get in touch you can do so at kennethlarsen at hey dot com.</span>
      </div>

      <hr class="post-divider">
      <h2>Latest posts</h2>
      <div class="post-feed">
        {{#each (sort-by 'date:desc' model) as |post index|}}
        <PostCard @post={{post}} @index={{index}} />
        {{/each}}
      </div>
    </main>


    <footer>
      2021, Kenneth Larsen. You can contact me on <a href="https://twitter.com/kennethlarsen">Twitter</a> | Built with
      <a href="https://github.com/empress/empress-blog">Empress 💖</a>
    </footer>
  </div>


  {{#if (route-is "index")}}
  {{#if blog.description}}
  <!-- <header class="page-head"> -->
  <!--     <h2 class="page-head-title">{{blog.description}}</h2> -->
  <!-- </header> -->
  {{/if}}
  {{/if}}



</div>